<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.backend.dao.AboutUsDAO">
    <resultMap id="aboutUs" type="com.wisewin.backend.entity.bo.AboutUsBo"  >

        <result column="image_url"  property="imageUrl"  />

    </resultMap>
    <!--查询信息-->
    <select id="selectAbout" resultMap="aboutUs">
        select id,content,image_url from ce_aboutus
    </select>
    <!--查询信息-->
    <select id="selectid" resultType="java.lang.Integer">
        select count(id) from ce_aboutus
    </select>
    <!--通过id查询用户信息-->
    <select id="selectAboutById" resultMap="aboutUs">
        select id,content,image_url from ce_aboutus
        WHERE id=#{id}
    </select>

    <!--修改-->
    <update id="updateAboutUs" parameterType="com.wisewin.backend.entity.bo.AboutUsBo">
        UPDATE `ce_aboutus`
        <set>
            <if test="content!=null " >
                `content`=#{content},
            </if>
                `update_time`=now()
        </set>

    </update>
    <!--增加-->
    <insert id="insertAboutUs" parameterType="com.wisewin.backend.entity.bo.AboutUsBo">
      INSERT INTO ce_aboutus SET
      content = #{content},`create_time`=now()


    </insert>
    <!--删除-->

</mapper>