<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【管理员】 -->
<mapper namespace="com.wisewin.backend.dao.AdminDAO">

    <!--根据手机号查找管理员信息-->
    <select id="queryAdminInfoByMobile" parameterType="String" resultType="com.wisewin.backend.entity.bo.AdminBO">
        SELECT *
        FROM ce_admin WHERE phone_number = #{mobile}
    </select>
    <!--添加管理员信息(管理員注冊)-->
    <insert id="adminRegister" parameterType="com.wisewin.backend.entity.bo.AdminBO" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO ce_admin  SET NAME = #{name},
        phone_number = #{phoneNumber},
        gender = #{gender},
        PASSWORD=#{password},
        create_time=#{createTime},
        STATUS=#{status},
        role_id=#{roleId},
        update_time=#{updateTime}
    </insert>
    <!-- 查找手机号是否注册过  -->
    <select id="selectCountByMobile" parameterType="String" resultType="int">
        SELECT count(id) FROM ce_admin WHERE phone_number = #{mobile}
    </select>

    <!-- 查找用户名是否注册过  -->
    <select id="selectCountByname" parameterType="String" resultType="int">
        SELECT count(id) FROM ce_admin WHERE phone_number = #{mobile}
    </select>

    <!-- 添加角色信息  -->
    <insert id="addRole" parameterType="com.wisewin.backend.entity.bo.RoleBO" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO ce_role  SET role_name = #{roleName},
        create_time=#{createTime},
        update_time=#{updateTime}
    </insert>
    <!--  查询所有角色  -->
    <select id="getRoleList" resultType="com.wisewin.backend.entity.bo.RoleBO">
        SELECT id,role_name FROM ce_role
    </select>
    <!--  查询所有权限  -->
    <select id="getMenuList" resultType="com.wisewin.backend.entity.bo.MenuBO">
        SELECT * FROM ce_menu
    </select>
    <!--  给角色赋予权限  -->
    <insert id="addRoleMenu" parameterType="com.wisewin.backend.entity.bo.RoleMenuBO" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO ce_role_menu  SET
        role_id=#{roleId},
        menu_id=#{menuId},
        create_time=#{createTime},
        update_time=#{updateTime}
    </insert>

    <!--  根据用户id查询所对应的权限  -->
    <select id="getAdminToMenu" resultType="com.wisewin.backend.entity.bo.MenuBO" parameterType="java.lang.Integer">
        SELECT p.`id`,p.`menu_name`,p.`url`,p.`status`
        FROM
          ce_menu p,ce_role_menu rp,ce_role r
        WHERE
          r.id=rp.role_id AND rp.menu_id=p.id AND  r.id
        IN
            (SELECT r.id
            FROM
               ce_admin u,ce_role r
            WHERE
              u.`id` =#{userId} AND u.`role_id`=r.`id`);
    </select>


    <!--  添加权限信息  -->
    <insert id="addMenuByPid" parameterType="com.wisewin.backend.entity.bo.MenuBO" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO ce_menu  SET
        menu_name=#{menuName},
        status=#{status},
        pid=#{pid},
        url=#{url},
        create_time=#{createTime},
        update_time=#{updateTime}
    </insert>
</mapper>