<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--认证案例-->
<mapper namespace="com.wisewin.backend.dao.CaseDAO">

    <select id="getCaseImg" resultType="com.wisewin.backend.entity.bo.CaseBO">
        select * from ce_case_img
    </select>

    <insert id="addCase" parameterType="com.wisewin.backend.entity.bo.CaseBO">
        insert into
        ce_case_img
        (img_url,status,create_time,update_time,create_user_id,update_user_id)
        values
        (#{imgUrl},#{status},now(),now(),#{createUserId},#{createUserId})
    </insert>

    <update id="updCase" parameterType="com.wisewin.backend.entity.bo.CaseBO">
        update ce_case_img
        <set>
            <if test="imgUrl!=null and imgUrl!=''">
                img_url=#{imgUrl},
            </if>
            <if test="status!=null and status!=''">
                status=#{status},
            </if>
            update_time=now(),
            update_user_id=#{updateUserId}
        </set>
        where id=#{id}
    </update>

</mapper>