<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 地区 -->
<mapper namespace="com.wisewin.backend.dao.ChinaRegionDAO">

    <select id="getChinaRegionBOList" resultType="com.wisewin.backend.entity.bo.ChinaRegionBO" parameterType="java.lang.Long">
         SELECT * FROM china WHERE china.Pid=#{pid}
    </select>
    <select id="getChinaRegionBOList2" resultType="com.wisewin.backend.entity.bo.ChinaRegionBO2" parameterType="java.lang.Long">
         SELECT * FROM china WHERE china.Pid=#{pid}
    </select>

    <update id="updChinaRegionBO" parameterType="com.wisewin.backend.entity.bo.ChinaRegionBO">
        update china set name=#{name} where id=#{id}
    </update>

    <delete id="delChinaRegionBOById" parameterType="java.lang.Long">
        delete from china where id=#{id}
    </delete>

    <delete id="delChinaRegionBOByPid" parameterType="java.lang.Long">
        delete from china where pid=#{pid}
    </delete>

    <insert id="addChinaRegionBO" parameterType="com.wisewin.backend.entity.bo.ChinaRegionBO">
        insert into china (name,pid) values (#{name},#{pid});
    </insert>



</mapper>