<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.backend.dao.DictionaryValueDAO">

    <insert id="addDic" parameterType="com.wisewin.backend.entity.bo.DictionaryValueBO">
        insert into ce_dictionary_value (kid,value,sort) values (#{kid},#{value},#{sort})
    </insert>
    <select id="getDIcs"  resultType="com.wisewin.backend.entity.bo.DictionaryValueBO">
        select ce_dictionary_value.*,ce_dictionary.name from ce_dictionary_value,ce_dictionary
        where ce_dictionary_value.kid=ce_dictionary.id
            <if test="kid!=null ">
                and kid=#{kid}
            </if>
    </select>
    <update id="updDic" parameterType="com.wisewin.backend.entity.bo.DictionaryValueBO">
        update ce_dictionary_value
        <set>
            <if test="kid!=null and kid!=''">
                kid=#{kid},
            </if>
            <if test="value!=null and value!=''">
                value=#{value},
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="delDic">
        delete from ce_dictionary_value
        where
        <foreach collection="idArr" item="id"  separator="or">
            id=#{id}
        </foreach>
    </delete>
    <!--查询valueid-->
    <select id="getIdByValue" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT id FROM ce_dictionary_value WHERE value= #{value}
    </select>
</mapper>