<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 意见反馈 -->
<mapper namespace="com.wisewin.backend.dao.FeedbackDAO">
    <!-- 通过状态查询 -->
    <select id="getFeedbackList"  resultType="com.wisewin.backend.entity.bo.FeedBackBO">
        select ci_feedback.*,sys_admin.name as adminName,ci_user.phone
        from ci_user inner join ci_feedback on ci_feedback.user_id=ci_user.id
        left join sys_admin on ci_feedback.admin_id=sys_admin.id
        <where>
            <if test="status!=null and status!=''">
                AND ci_feedback.status = #{status}
            </if>
        </where>
        order by create_time desc
        <include refid="limit" />
    </select>
    <sql id="limit">
        limit  #{pageSize} offset #{pageOffset}
    </sql>

    <!--查询所有条数-->
    <select id="getFeedbackListCount"   resultType="java.lang.Integer">
        select count(1)
        from ci_user inner join ci_feedback on ci_feedback.user_id=ci_user.id
        left join sys_admin on ci_feedback.admin_id=sys_admin.id
        <where>
            <if test="status!=null and status!=''">
                AND ci_feedback.status = #{status}
            </if>
        </where>

    </select>

    <!--修改状态-->
    <update id="updFeedback"  parameterType="com.wisewin.backend.entity.bo.FeedBackBO" >
        UPDATE ci_feedback
        <set>
            <if test="status!=null and status!=''" > status=#{status},</if>
            <if test="adminId!=null and adminId!=''" > admin_id=#{adminId},</if>
             update_time= now()
        </set>
        WHERE  id=#{id}
    </update>


</mapper>