<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--二级兴趣管理-->
<mapper namespace="com.wisewin.backend.dao.InterestDAO">

    <!--通过兴趣分类id查询分类下的兴趣-->
    <select id="queryInterestByTypeId" resultType="com.wisewin.backend.entity.bo.InterestBO">
      SELECT st.id,ty.type_name,st.interest_name ,ty."id" AS typeId ,st.create_time  FROM  "ci_interest" st
        LEFT JOIN "ci_interest_type" ty ON ty."id" =st.type_id
        <where>
            <if test="typeId!=null" >
                ty.id =#{typeId}
            </if>
         </where>
        ORDER BY id DESC
    </select>

    <!--修改兴趣-->
    <update id="updateInterest" parameterType="com.wisewin.backend.entity.bo.InterestBO">
        UPDATE "ci_interest" SET  "type_id" = #{typeId}, "interest_name" = #{interestName} WHERE "id" = #{id}
    </update>


    <!--添加兴趣-->
    <insert id="addInterest" parameterType="com.wisewin.backend.entity.bo.InterestBO">
       INSERT INTO "ci_interest"( "type_id", "interest_name","create_time") VALUES ( #{typeId},#{interestName},NOW());
    </insert>

    <!--删除兴趣-->
    <delete id="delInterest" >
        delete from "ci_interest"  WHERE id=#{id}
    </delete>

    <!--查询兴趣分类-->
    <select id="queryInterestType"  resultType="com.wisewin.backend.entity.bo.InterestBO">
        select * from "ci_interest_type"
    </select>

</mapper>