<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wisewin.backend.dao.InterestSubclassDAO">

    <!--添加二级兴趣-->
    <insert id="addInterestSubclass" parameterType="com.wisewin.backend.entity.bo.InterestSubclassBO">
        insert into
        ce_interest_subclass
        (father_id,"name",create_time,create_user_id,update_time,update_user_id)
        values
        (#{fatherId},#{name},now(),#{createUserId},now(),#{createUserId})
    </insert>

    <!--查询二级兴趣-->
    <select id="getInterestsSubclassByInterestId" resultType="com.wisewin.backend.entity.bo.InterestSubclassBO" parameterType="java.lang.Integer">
        select * from ce_interest_subclass where father_id=#{interestId}
        order by update_time desc
    </select>

    <!--删除二级兴趣-->
    <delete id="delInterestSubclass">
        delete from ce_interest_subclass
        <where>
            <if test="id!=null and id!=''">and id=#{id}</if>
            <if test="fatherId!=null and fatherId!=''">and father_id=#{fatherId}</if>
        </where>
    </delete>

</mapper>