<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- keyvalue -->
<mapper namespace="com.wisewin.backend.dao.KeyValueDAO">

    <update id="updKeyValue" parameterType="com.wisewin.backend.entity.bo.KeyValueBO">
        update sys_key_value
        <set>
            <if test="comment!=null and comment!=''">
                comment=#{comment}
            </if>
            <if test="values!=null and values!=''">
                `values`=#{values}
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="getKeyValueList" resultType="com.wisewin.backend.entity.bo.KeyValueBO">
        select * from sys_key_value
    </select>

    <select id="getValueByKey" resultType="com.wisewin.backend.entity.bo.KeyValueBO" parameterType="java.lang.String">
         select * from sys_key_value where key=#{key}
    </select>
</mapper>