<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wisewin.backend.dao.MenuDAO">

    <select id="queryMenu" parameterType="java.lang.String" resultType="com.wisewin.backend.entity.bo.MenuBO">
        select * from ce_menu where id = #{id}
    </select>

    <insert id="insertMenu" parameterType="com.wisewin.backend.entity.bo.MenuBO">
        insert into ce_menu(menu_name,status,pid,create_time,update_time,url,index,icon)
        VALUES (#{menuName},#{status},#{pid},#{createTime},#{updateTime},#{url},#{index},#{icon})
    </insert>

    <update id="updateMenu" parameterType="com.wisewin.backend.entity.bo.MenuBO">
        update ce_menu set
        <if test="menuName != null and  menuName !=''">
            menu_name = #{menuName},
        </if>
        <if test="status != null and status != ''">
            status = #{status},
        </if>
        <if test="pid != null and pid != ''">
            pid = #{pid},
        </if>
        <if test="updateTime != null and updateTime != ''">
            update_time = #{updateTime},
        </if>
        <if test="url != null and url != ''">
            url = #{url},
        </if>
        <if test="index != null and index != ''">
            index != #{index},
        </if>
        <if test="icon != null and icon != ''">
            icon != #{icon}
        </if>
    </update>

</mapper>