<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 配对 -->
<mapper namespace="com.wisewin.backend.dao.PairingDAO">

    <insert id="addPairing" parameterType="com.wisewin.backend.entity.bo.PairingBO">
        INSERT  INTO
            ce_pairing(
             "key","value",
             "describe",create_time,
             update_time,create_user_id,
             update_user_id
         )VALUES (
             #{key},#{value},
             #{describe},now(),
             now(),#{createUserId},
             #{updateUserId}
            )
    </insert>

    <!--查找是否有数据存在-->
    <select id="findPairing" resultType="int">
        SELECT
          COUNT (id)
        FROM
          ce_pairing
        WHERE
          "key"=#{key}
    </select>

 <!--根据条件查询-->
    <select id="queryPairing"  resultType="com.wisewin.backend.entity.bo.PairingBO">
        SELECT
        id,"key",
        "value","describe"
        FROM
        ce_pairing
        <where>
            <if test="key!=null and key!='' ">
                "key" LIKE CONCAT(CONCAT('%',#{key}),'%')
            </if>
        </where>
    </select>

    <delete id="deletePairing">
        DELETE  FROM
             ce_pairing
        WHERE
            id=#{id}
    </delete>

    <update id="updatePairing" parameterType="java.util.Map">
      UPDATE
          ce_pairing
       SET
         "key"=#{key},
          "value"=#{value},"describe"=#{describe},
          update_time=now(),update_user_id=#{updateUserId}
      WHERE
          id=#{id}

    </update>

    <!--查找修改数据是否重复-->
    <select id="findPairingId" resultType="int">
      SELECT
        COUNT (id)
      FROM
        ce_pairing
      <where>
          <if test="id!=null and id!='' ">
              id=#{id}  AND  "key"=#{key}
          </if>

      </where>
    </select>
    <!--查找修改数据是否重复-->
    <select id="findPairingKey" resultType="int">
        SELECT
        COUNT (id)
        FROM
        ce_pairing
        <where>
            <if test="key!=null and key!='' ">
                "key"=#{key}
            </if>

        </where>
    </select>
</mapper>