<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.backend.dao.RoleMenuDAO">

    <insert id="addRoleBO" parameterType="com.wisewin.backend.entity.bo.RoleMenuBO">
        insert into ce_role_menu (role_id,menu_id,create_time) values (#{roleName},#{menuId},now())
    </insert>

    <update id="updRoleBO" parameterType="com.wisewin.backend.entity.bo.RoleMenuBO">
        update ce_role_menu
        <set>
            <if test="roleName!=null and roleName!=''">
                role_id=#{roleId},
            </if>
            <if test="roleName!=null and roleName!=''">
                menu_id=#{menuId},
            </if>

            updateTime=now()
        </set>
        where id=#{id}
    </update>

    <delete id="delRoleBO" parameterType="java.lang.Integer">
        delete from ce_role_menu where id=#{id}
    </delete>

    <select id="getRoleBO" parameterType="java.lang.Integer" resultType="com.wisewin.backend.entity.bo.RoleMenuBO">
        select * from ce_role_menu
        <where>
            <if test="id!=null and id!=''">
                id=#{id}
            </if>
        </where>
    </select>
</mapper>