<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.backend.dao.RoleDao">

    <insert id="addRoleBO" parameterType="com.wisewin.backend.entity.bo.RoleBO">
        insert into ce_role (`roleName`,createTime) values (#{roleName},now())
    </insert>

    <update id="updRoleBO" parameterType="com.wisewin.backend.entity.bo.RoleBO">
        update ce_role
        <set>
            <if test="roleName!=null and roleName!=''">
                `roleName`=#{roleName},
            </if>
            updateTime=now()
        </set>
        where id=#{id}
    </update>

    <delete id="delRoleBO" parameterType="java.lang.Integer">
        delete from ce_role where id=#{id}
    </delete>

    <select id="getRoleBO" parameterType="java.lang.Integer" resultType="com.wisewin.backend.entity.bo.RoleBO">
        select * from ce_role
        <where>
            <if test="id!=null and id!=''">
                id=#{id}
            </if>
        </where>
    </select>
</mapper>