<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wisewin.backend.dao.TheGarageImgDAO">
    <!--查询车库图片信息-->
    <select id="queryTheGarageImg"  resultType="com.wisewin.backend.entity.bo.TheGarageImgBO">
       select * from  ce_the_garage_img
    </select>
    <!--批量删除车库图片信息-->
    <delete id="delTheGarageImg" >
        DELETE FROM ce_the_garage_img WHERE id IN
        <foreach collection="idArr" item="id" open="(" close=")" separator=",">
          #{id}
        </foreach>
    </delete>


    <update id="updateTheGarageImg"  parameterType="com.wisewin.backend.entity.bo.TheGarageImgBO">
        update ce_the_garage_img set
        <if test="theGarageId != null and theGarageId != ''">
            the_garage_id = #{theGarageId},
        </if>
        <if test="imgUrl != null and imgUrl != ''">
            img_url = #{imgUrl},
        </if>
        <if test="sort != null and sort != ''">
            sort = #{sort},
        </if>
        <if test="updateTime != null and updateTime != ''">
            update_time = #{updateTime}
        </if>
        where id = #{id}
    </update>

    <insert id="insetTheGarageImg" parameterType="com.wisewin.backend.entity.bo.TheGarageImgBO">
        insert into ce_the_garage_img(the_garage_id,img_url,sort,create_time,update_time)
        VALUES (#{theGarageId},#{imgUrl},#{sort},#{createTime},#{updateTime})
    </insert>
</mapper>