<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.backend.dao.UserDAO">
    <!--添加user-->
    <insert id="addUser" parameterType="com.wisewin.backend.entity.bo.UserBO">
        insert into ci_user
        (phone,password,latitude,longitude,certification_status,car_status,user_status,robot_status,create_time)
        values
        (#{phone},#{password},#{latitude},#{longitude},#{certificationStatus},#{carStatus},#{userStatus},#{robotStatus},now())
    </insert>
    <!--添加模块信息-->
    <insert id="addModel" parameterType="com.wisewin.backend.entity.bo.ModelBO">
        insert into ci_model
        (model,sex,birthday,constellation,height,weight,education,birthplace,
        sex_status,car_certification_status,be_like_count,
        be_super_like_count,super_like_count,name)
        values
        #{model},#{sex},#{birthday},#{constellation},#{height},#{weight},#{education},#{birthplace},
        #{sexStatus},#{carCertificationStatus},#{beLikeCount},
        #{beSuperLikeCount},#{superLikeCount},#{name})
    </insert>
    <!--添加兴趣信息-->
    <insert id="addInterest" parameterType="com.wisewin.backend.entity.bo.UserInterestBO">
        insert into ci_user_interest
        (model_id,type_id,interest_name)
        values
        (#{modelId},#{typeId},#{interestName})
    </insert>

    <sql id="limit">
        limit #{pageSize} offset #{pageOffset}
    </sql>
    <!--分页查询用户列表-->
    <select id="getUserList" parameterType="java.util.Map" resultType="com.wisewin.backend.entity.bo.UserBO">
        select * from ci_user
        <where>
            <if test="phone!=null and phone!=''">AND phone like '%${phone}%'</if>
            <if test="certificationStatus!=null and certificationStatus!=''">AND
                certification_status=#{certificationStatus}
            </if>
            <if test="carStatus!=null and carStatus!=''">AND car_status=#{carStatus}</if>
            <if test="userStatus!=null and userStatus!=''">AND user_status=#{userStatus}</if>
            <if test="robotStatus!=null and robotStatus!=''">AND robot_status=#{robotStatus}</if>
        </where>
        order by create_time desc
        <include refid="limit"/>
    </select>
    <!--查询用户列表条数-->
    <select id="getUserListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from ci_user
        <where>
            <if test="phone!=null and phone!=''">AND phone like '%${phone}%'</if>
            <if test="certificationStatus!=null and certificationStatus!=''">AND
                certification_status=#{certificationStatus}
            </if>
            <if test="carStatus!=null and carStatus!=''">AND car_status=#{carStatus}</if>
            <if test="userStatus!=null and userStatus!=''">AND user_status=#{userStatus}</if>
            <if test="robotStatus!=null and robotStatus!=''">AND robot_status=#{robotStatus}</if>
        </where>
    </select>
    <!--根据用户查询模式的信息-->
    <select id="getModelByUserId" parameterType="java.lang.Long" resultType="com.wisewin.backend.entity.bo.ModelBO">
        select * from ci_model where user_id=#{userId}
    </select>
    <!--修改用户信息-->
    <update id="updateUser" parameterType="com.wisewin.backend.entity.param.UserParam">
        update ci_user
        <set>
            <if test="phone!=null and phone!=''">
                phone = #{phone},
            </if>
            <if test="password!=null and password!=''">
                password = #{password},
            </if>
            <if test="longitude!=null and longitude!=''">
                longitude = #{longitude},
            </if>
            <if test="latitude!=null and latitude!=''">
                latitude = #{latitude},
            </if>
            <if test="certificationStatus!=null and certificationStatus!=''">
                certification_status = #{certificationStatus},
            </if>
            <if test="carStatus!=null and carStatus!=''">
                car_status = #{carStatus},
            </if>
            <if test="userStatus!=null and userStatus!=''">
                user_status = #{userStatus},
            </if>
            <if test="robotStatus!=null and robotStatus!=''">
                robot_status = #{robotStatus},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <!--查询用户认证列表-->
    <select id="getUserCertification" parameterType="java.lang.String"
            resultType="com.wisewin.backend.entity.bo.UserCertificationBO">
        select ci_user_certification.*,sys_admin.name as adminName
        from ci_user_certification,sys_admin
        where sys_admin.id=ci_user_certification.admin_id
        <if test="status!=null and status!=''">
            and status=#{status}
        </if>
        order by update_time desc
    </select>
    <!--修改用户审核状态-->
    <update parameterType="com.wisewin.backend.entity.bo.UserCertificationBO" id="updUserCertificationStatus">
        update ci_user_certification
        <set>
            <if test="demoId!=null and demo_id!=''">
                demo_id=#{demoId},
            </if>
            <if test="status!=null and status!=''">
                status=#{status},
            </if>
            <if test="remark!=null and remark!=''">
                remark=#{remark},
            </if>
            update_time=now()
        </set>
        where id=#{id}
    </update>


</mapper>