<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wisewin.backend.dao.UserBackgroundDAO">

    <select id="queryUserBack" parameterType="java.util.Map" resultType="com.wisewin.backend.entity.bo.UserBackgroundBO">
        select * from ce_user_background
        <where>
        <if test="id != null and id != ''">
           and id = #{id}
        </if>
        <if test="userId != null and userId != ''">
          and user_id = #{userId}
        </if>
        <if test="status != null and status != ''">
          and status = #{status}
        </if>
        <if test="pattern != null and pattern != ''">
          and pattern = #{pattern}
        </if>
        </where>
        order by create_time desc
      <include refid="limit" />
    </select>
   <sql id="limit">
        limit #{pageSize} offset #{pageOffset}
    </sql>

    <select id="queryCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from ce_user_background
            <where>
            <if test="id != null and id != ''">
               and  id = #{id}
            </if>
            <if test="userId != null and userId != ''">
               and  user_id = #{userId}
            </if>
            <if test="status != null and status != ''">
               and  status = #{status}
            </if>
            <if test="pattern != null and pattern != ''">
              and   pattern = #{pattern}
           </if>
            </where>
    </select>

    <update id="updateUserBackStatus">
        update ce_user_background set state = #{state},update_time = now()  where id = #{id}
    </update>

    <select id="delteUserBack" parameterType="java.lang.Integer">
        delete from  ce_user_background where id = #{id}
    </select>
</mapper>