<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wisewin.backend.dao.UserCertificationDemoDAO">

    <select id="getCertificationDemoList" resultType="com.wisewin.backend.entity.bo.UserCertificationDemoBO">
        select * from ci_user_certification_demo
    </select>

    <insert id="addCertificationDemo" parameterType="com.wisewin.backend.entity.bo.UserCertificationDemoBO">
        insert into ci_user_certification_demo (demo_picture,create_time) values (#{demoPicture},now())
    </insert>

    <delete id="delCertificationDemo" parameterType="java.lang.Long">
        delete from ci_user_certification_demo where id=#{demoId}
    </delete>

</mapper>