<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wisewin.backend.dao.WallDAO">

    <select id="queryWallById" parameterType="java.lang.String" resultType="com.wisewin.backend.entity.bo.WallBO">
        select * from ce_wall where id = #{id};
    </select>

    <update id="updateWall" parameterType="com.wisewin.backend.entity.bo.WallBO">
        update ce_wall set
        <if test="userId != null and userId != ''">
            user_id = #{userId},
        </if>
        <if test="sort != null and sort != ''">
            sort = #{sort},
        </if>
        <if test="updateTime != null and updateTime != ''">
            update_time = #{updateTime}
        </if>
        where id = #{id}
    </update>

    <insert id="insertWall" parameterType="com.wisewin.backend.entity.bo.WallBO">
        insert into ce_wall(user_id,sort,create_time,update_time) VALUES
        (#{userId},#{sort},#{createTime},#{updateTime})
    </insert>
</mapper>